:root{
    --vermelho: #E50914;
    --preta: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

/*filme principal*/
.jogo-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0.50)100%), url('/img/capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: flex-start;

}
.jogo-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


}

.container{
    margin-left: 20px;
    
}
.jogo-principal .container{
    width: 60%;
}
.jogo-principal .container .conteudo{
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-content: flex-start;
    margin-top: 35%;
    margin-left: 30%;
}